<mat-card-title>{{ dialogTitle1 }}
  <div class="dialog-content-wrapper">
    <mat-card class="example-card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Серебрянский Дмитрий Николаевич</mat-card-title>
      <mat-card-subtitle>Ответственный по Баскетболу</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/photos/Серебрянский2.jpg">
    <mat-card-content>

      <div class="info-section">
        <h3>📋 Описание:</h3>
        <p>
          Серебрянский Дмитрий Николаевич является тщательным планировщиком и стратегом, и он всегда старается мотивировать своих игроков к достижению новых высот. Он заботится о каждом члене команды и помогает им развиваться как спортсменам и как личностям.
          С его помощью команда достигает успехов и побед на соревнованиях.
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <!-- Actions here -->
    </mat-card-actions>
  </mat-card>
  </mat-card>
  </div>
  </mat-card-title>
