<mat-card-title>{{ dialogTitle4 }}
  <div class="dialog-content-wrapper">
    <mat-card class="example-card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Кораблина	Анастюша	Михайловна</mat-card-title>
      <mat-card-subtitle>Ответственный по Настольному теннису</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/photos/Кораблина.jpg">
    <mat-card-content>

      <div class="info-section">
        <h3>📋 Описание:</h3>
        <p>
          Кораблина Анастюша Михайловна - проактивная и опытная специалистка в области настольного тенниса.
          Она является ответственной за координацию и управление деятельностью, связанной с этим видом спорта. Анастюша обладает глубокими знаниями правил и стратегий настольного тенниса и помогает своим игрокам развиваться и достигать успехов в этой игре.
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <!-- Actions here -->
    </mat-card-actions>
  </mat-card>
  </mat-card>
  </div>
  </mat-card-title>
