<mat-card-title>{{ dialogTitle }}
<div class="dialog-content-wrapper">
  <mat-card class="example-card">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Игнат Илья Дмитриевич</mat-card-title>
    <mat-card-subtitle>Ответственный по Волейболу</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/photos/игнат2.jpg">
  <mat-card-content>

    <div class="info-section">
      <h3>📋 Описание:</h3>
      <p>
        Игнат Илья Дмитриевич - проактивный и преданный специалист, обладающий глубокими знаниями и опытом в области волейбола.
        Он является ответственным за координацию и управление деятельностью, связанной с волейболом.
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- Actions here -->
  </mat-card-actions>
</mat-card>
</mat-card>
</div>
</mat-card-title>
